<h1>New Message</h1>
<h3>Fill out Below:</h3>

<input type="text" id='conv-title' placeholder="Conversation Title"><br>
<input type="text" id='message-content' placeholder="Enter Message Here"><br>
<input type="text" id='message-user_id' placeholder="User ID"><br>
<button id='submit_new_conversation'>Submit Message</button>
