
	<h3>Already Registered?</h3>
<div id='login'>
	<h2>Login</h2>
	<input id="username_login" type="text" name='username' placeholder="Username" required><br>
	<input id="password_login" type="password" name='password' placeholder="Password" required><br>
	<button id='userLogin'>Login</button>
</div>
