<h1>This is side div</h1>

	<input id="username_login" type="text" name='username' placeholder="Username" required><br>
	<input id="password_login" type="password" name='password' placeholder="Password" required>
	<button id='userLogin'>Login</button>

