
<h2>Meetups In Your Area</h2>
<div id = 'meetup-container'>
{{#each meets}}
	<div class='meetups'>
	<h3>{{@index}} Name:{{name}}</h3>
		<ul>
			<a link href="{{event_url}}">Link</a><br>
			<a>Distance : {{distance}} miles</a>
		</ul>
	</div>
{{/each}}
</div>