<div id='user_create'>
	<h2>New User Registration</h2>
	<input type="text" id='username' placeholder="Username" required><br>
	<input type="password" id='password' placeholder="Password" required><br>
	<input type="password" id='password_confirmation' placeholder="Confirm Password" required><br>
	<input type="text" id='first_name' placeholder="First Name" required><br>
	<input type="text" id='last_name' placeholder="Last Name" required><br>
	<input type="text" id='email' placeholder="E-Mail" required><br>
	<input type="text" id='img_url' placeholder="Image" required><br>
	<input type="text" id='bio' placeholder="Bio" required><br>
	<input type="text" id='education' placeholder="Education" required><br>
	<input type="text" id='technology' placeholder="Technology" required><br>
	<input type="text" id='location' placeholder="Zipcode" required><br>
	<button id='createUser'>Create User</button>
</div>


