<div id='login-form'>
		<form>
			<input type="text" name='username' placeholder="Username"><br>
			<input type="text" name='password' placeholder="Password">
			<button id='userLogin'>Login</button>
		</form>
</div>

<div id='new-user-form'>
		<form>
			<input type="text" name='username' placeholder="Username"><br>
			<input type="text" name='password' placeholder="Password"><br>
			<input type="text" name='first_name' placeholder="First Name"><br>
			<input type="text" name='last_name' placeholder="Last Name"><br>
			<input type="text" name='email' placeholder="E-Mail"><br>
			<input type="text" name='img_url' placeholder="Image"><br>
			<input type="text" name='bio' placeholder="Bio"><br>
			<input type="text" name='education' placeholder="Education"><br>
			<input type="text" name='technology' placeholder="Technology"><br>
			<input type="text" name='location' placeholder="Location"><br>
			<button id='createUser'>Create User</button>
		</form>
</div>