#side-box{
position: absolute;
top: 0px;
left: 60%;
}
#navigation{
position: absolute;
top: 0px;
}
#meetup-container{
overflow: scroll;
height: 500px;
}
#map{
	height: 800px;
	width: 800px;
	background-color: #CCC;
}