
#navigation{
position: absolute;
margin-top: 20px;
}


#project-container{
overflow: scroll;
height: 500px;
}

#article-box{
  position: abosolute;
  top: 200px;
}

#article-container{
width: 45%;
overflow: scroll;
height: 400px;
top: 570px;
position: fixed;
padding-left: 3%;
width: 500px;
margin-top: -13%;
}


html { 
  background: linear-gradient(
      rgba(64, 55, 58, 0.5), 
      rgba(64, 55, 58, 0.5)
    ), url("http://i.giphy.com/yENPyn21ogrjq.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Raleway', sans-serif;
}

/*Main Title*/
.main-title{
  color:#FF5252;
  font-size: 90px;
  font-family:'Poiret One', cursive;
  padding: 15px;
  padding-top: 0px;
}
.dev, .ocean{
  float: left;
}

/*Nav Bar 
------------------------*/
.navbar{
   display: none;
   list-style-type: none;
    margin: 5px;
    padding-top: 20px;
    padding: 10px;
    display: inline;
}

.navbar li:hover{
  color:white;
  text-decoration: underline;

}

.navbar li{
  font-family: 'Arvo', serif;
  color: black;
  float: left;
  list-style-type: none;
  margin: 5px;
  margin-top: -15px;
  padding: 5px;
  display: inline;
  font-size: 25px;
  cursor: pointer;
  padding-top: 20px;
}

.navbar .nav{
  display: none;
  float:left;
}


/*Container
--------------------------*/
.container{
  padding: 30px;
  margin: auto;
 background:#424242;
  height: 650px;
  width: 100%;
  margin-left: -10px;
  
  border-top: 1px solid white;
  border-bottom: 1px solid white;

}

h1{
  font-family:'Poiret One', cursive;
}


/*Main Box Div
------------------------*/
#main-box{
  width: 65%;
  margin-top: 20px;
  height: 600px;
  position: absolute;
  background-color: rgba(255,171,145,0.9);
  /*#FFAB91*/
}

/*Sign up Page
------------------*/
#user_create{
  text-align: center;
  position: fixed;
  padding-left: 27%;
  top:20%;
}

#user_create input{
  margin: 5px 5px 5px 5px;
  font-family:'Poiret One', cursive;
  font-size: 30px;
  border-radius: 5%;
}

#user_create h3{
  font-size: 25px;
}

.registration_new_user{
  font-size: 45px;
  font-family:'Arvo', serif;
}

.about_the_website h2{
  font-size: 37px;
  padding: 0px;
  margin: 0px;
  top:-50%;
  font-family:'Poiret One', cursive;
  width: 400px;
}

.second{
  position: relative;
  left: 20px;
}

.today{
  position: relative;
  left: 40px;
}

#createUser{
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  background-color: white;
  font-family:'Arvo', serif;

}

/*Articles
------------------*/
.startup_title{
  margin-top: 55px;
  font-size: 40px;
  margin-left: 13%;
}

.line{
  margin-top: 55px;
  margin-left: 13%;
}

#map{
  display: none;
  background-color: #CCC;
  position: absolute;
  margin-left: 35%;
  margin-top: 95px;
  height: 480px;
  width: 516px;
}


/*Meetups
----------------------*/
#meetup-container{
  display: none;
  overflow: scroll;
  height: 550px;
  margin-left: 30px;
  margin-top: 20px;
}

#meetup-container h2{
  text-align: center;
  font-size: 30px;
  font-family:'Arvo', serif;
}


/*Project Form 
------------------------*/
#project-form{
  text-align: center;
  margin-top: 84px;
}

#project-form h1{
  font-family: 'Arvo', serif;
}

#project-form input{
  margin: 10px 5px 0px 5px;
  font-family:'Poiret One', cursive;
  font-size: 30px;
  border-radius: 5%;
  text-align: center;
}

#create_new_project{
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  background-color: white;
  font-family:'Arvo', serif;
  margin-left: 5%;
}


/*Clicked Projects
---------------------*/
.clicked_project{
  margin-top: 84px;
  margin-left: 40px;
}

.clicked_project h1{
  text-align: center;
  font-family: 'Arvo', serif;
}

.contact_user{
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  background-color: white;
  font-family:'Arvo', serif;
  margin-left: 29%;
}

#main-content{
position: absolute;
left: 36px;
overflow: scroll;
height: 500px; 
top: 90px; 
}

#view_one_project{
  padding: 10px;
  margin: 5px;
  font-size: 15px;
  background-color: white;
  font-family:'Arvo', serif;
  margin-left: 5%;
}


.one-project h3{
  font-size: 30px;
  font-family:'Poiret One', cursive;
}

#create_project_form{
  margin-top: -1%;
  margin-left: -23%;
  padding: 10px;
  font-size: 22px;
  background-color: white;
  font-family: 'Arvo', serif;
  margin-left: 79%;
}


/*Login Page
----------------------*/
#login{
    padding-left: 50px;
    margin-top: 10%;
  }

#login h2{
   font-size: 45px;
  font-family:'Arvo', serif;
}


#login input{
  margin: 10px 5px 0px 5px;
  font-family:'Poiret One', cursive;
  font-size: 30px;
  border-radius: 5%;
  text-align: center;
}

#userLogin{
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  background-color: white;
  font-family:'Arvo', serif;
  margin-left: 25%;
}


/* Message Page Stuff
-------------------------*/
#create_message_form{
  margin-top: 3%;
  margin-left: -23%;
  padding: 10px;
  font-size: 22px;
  background-color: white;
  font-family: 'Arvo', serif;
  margin-left: 37%;
}

.close-message{
  margin-top: 3%;
  margin-left: -23%;
  padding: 10px;
  font-size: 22px;
  background-color: white;
  font-family: 'Arvo', serif;
  margin-left: 37%;
}

.conversation_form{
 margin-top: 84px;
margin-left: 40px;
text-align: center;
}

.conversation_form h1{
  text-align: center;
  font-family: 'Arvo', serif;
}

.conversation_form input{
  margin: 10px 5px 0px 5px;
  font-family:'Poiret One', cursive;
  font-size: 30px;
  border-radius: 5%;
  text-align: center;
}

#submit_new_conversation{
  margin-top: 3%;
  margin-left: -23%;
  padding: 10px;
  font-size: 22px;
  background-color: white;
  font-family: 'Arvo', serif;
}




/*Side Box Div
-----------------------*/
#side-box{
  margin-right: 10%;
  margin-top: -12px;
  width: 29%;
  height: 600px;
  margin-left: -2%;
  background-color: #B2EBF2;
  left: 70%;
  top: 180px;
  position: absolute;
}


/*Footer
---------------------*/
.footer {
  position: fixed;
  bottom: 10px;
  clear:      both;
  padding:    0;
  text-align: center;
  list-style: none;
  margin-left: 34%;
}

.footer li {
  display:        inline;
  margin:         0 10px;
  color:          #FF5252;
  font-size:      15px;
  font-weight:    bold;
  text-transform: uppercase;
}

.footer a {
  color:           #FF5252;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}





