<!DOCTYPE html>
<html>
<head>
  <title>UnicornApp</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div id='container'>
	     	<div id='main-box'>
	            <div id='navigation'>
		    		<h1>Unicorn Site</h1>
		            <button id="projects_button">Projects</button><button class="conversation">Messages</button><button id="home-button">Home</button>
		            <div id="projects"></div>
	            </div>
	        </div>

	        <div id='side-box'>
	            <h1>This is sidebox</h1>
	            <div id="side-content"></div>
	        </div>
	    
	    </div>	
	</body>
</html>




