<!DOCTYPE html>
<html>
<head>
  <title>UnicornApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src='http://underscorejs.org/underscore-min.js'></script>
	<script src="http://backbonejs.org/backbone-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js"></script>


</head>
<body>
	
	<div id = "projects">
	</div>

</body>
</html>
