<!DOCTYPE html>
<html>
<head>
  <title>DevOcean</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">

		<h1>DevOcean</h1>
			<button id="home_button">Home</button>
			<button class="logout">Logout</button>

		<div id="main-box">
		</div>

		<div id="side-box">
		</div>
	</div>


	<footer>
	</footer>


</body>
</html>
