<!DOCTYPE html>
<html>
<head>
  <title>UnicornApp</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Unicorn Site</h1>
	




	<div id='about'>
		<h1> About Unicorns!</h1>
		<h2>Here is about unicorns</h2>
		<p>we like unicorns about unicorns pizza soda coffee.....</p>
	</div>


<div id='main-box'>
	
</div>

<div id='side-box'>
	
</div>
	




</body>
</html>
